#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Image_1 {
  position: absolute;
  top: -4px;
  left: -305px;
  width: 935px;
  height: 710px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_6 {
  position: absolute;
  top: 133px;
  left: 2px;
  width: 92px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_7 {
  position: absolute;
  top: 135px;
  left: 93px;
  width: 77px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_8 {
  position: absolute;
  top: 144px;
  left: 167px;
  width: 74px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_9 {
  position: absolute;
  top: 139px;
  left: 239px;
  width: 65px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_10 {
  position: absolute;
  top: 146px;
  left: 297px;
  width: 56px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_1 {
  position: absolute;
  top: 547px;
  left: -18px;
  width: 110px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_2 {
  position: absolute;
  top: 543px;
  left: 72px;
  width: 103px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_3 {
  position: absolute;
  top: 540px;
  left: 151px;
  width: 97px;
  height: 98px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_4 {
  position: absolute;
  top: 547px;
  left: 224px;
  width: 80px;
  height: 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 #s-Hotspot_5 {
  position: absolute;
  top: 541px;
  left: 285px;
  width: 76px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3335fa2a-310b-4917-8a87-c2f79ceca5d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}