#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Image_1 {
  position: absolute;
  top: 21px;
  left: -340px;
  width: 980px;
  height: 684px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_6 {
  position: absolute;
  top: 151px;
  left: -1px;
  width: 92px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_7 {
  position: absolute;
  top: 153px;
  left: 90px;
  width: 77px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_8 {
  position: absolute;
  top: 162px;
  left: 164px;
  width: 74px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_9 {
  position: absolute;
  top: 157px;
  left: 236px;
  width: 65px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_10 {
  position: absolute;
  top: 164px;
  left: 294px;
  width: 56px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_1 {
  position: absolute;
  top: 569px;
  left: 3px;
  width: 68px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_2 {
  position: absolute;
  top: 565px;
  left: 93px;
  width: 61px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_3 {
  position: absolute;
  top: 562px;
  left: 172px;
  width: 55px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_4 {
  position: absolute;
  top: 569px;
  left: 245px;
  width: 38px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 #s-Hotspot_5 {
  position: absolute;
  top: 563px;
  left: 306px;
  width: 34px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-447ae799-207c-43e4-bd9e-7a3ffcb33672 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}