#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 #s-Image_1 {
  position: absolute;
  top: 32px;
  left: -320px;
  width: 954px;
  height: 669px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 #s-Hotspot_1 {
  position: absolute;
  top: 547px;
  left: 3px;
  width: 89px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 #s-Hotspot_2 {
  position: absolute;
  top: 543px;
  left: 93px;
  width: 82px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 #s-Hotspot_3 {
  position: absolute;
  top: 540px;
  left: 172px;
  width: 76px;
  height: 98px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 #s-Hotspot_4 {
  position: absolute;
  top: 547px;
  left: 245px;
  width: 59px;
  height: 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 #s-Hotspot_5 {
  position: absolute;
  top: 541px;
  left: 306px;
  width: 55px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 #s-Hotspot_6 {
  position: absolute;
  top: 112px;
  left: 317px;
  width: 37px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-89e016f1-92d0-4ec6-9406-4dee63a758f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}