#s-efc72307-833b-4e3b-9059-42a2b06382f8 #s-Image_1 {
  -ms-transform: rotate(90.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-efc72307-833b-4e3b-9059-42a2b06382f8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}