#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-48636f1c-3a08-4507-81c2-9ba2f9b45442 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}