#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-540677a2-f6c0-4ee6-8488-e97889ee7023 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}