#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Button_1 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Button_2 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Button_3 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Button_4 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Button_5 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-ActionBar {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Table_1 {
  border-collapse: separate;
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Table_2 {
  border-collapse: separate;
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8360c020-7bae-49ea-a29b-0fcf1ff426d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}