#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 240px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 66px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-ActionBar {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}