#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-87bc7c56-44f8-49d3-85b9-45f4ac66427e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}