#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a87c6e74-4b9c-4919-bb71-65eefab81320 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}