#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-ActionBar {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 324px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 324px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 324px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 324px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 324px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 324px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}