#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e4b7f8d7-804a-4514-9a11-03d2af58a42f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}