#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-13c7681f-52eb-4bc4-8a5e-86844cbefa63 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}