#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-27f6a849-0ebc-46a0-b6a3-e5e38f875319 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}