#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3204bd22-102b-4b14-abfe-ef658c233908 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}