#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Triangle_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3464e316-99cd-4dda-83c7-238aaf00f553 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}