#s-8a817580-b133-4b53-9150-9f463c2558ce #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45) ;
  filter: alpha(opacity=45) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8a817580-b133-4b53-9150-9f463c2558ce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}