#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}