#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_2 {
  position: absolute;
  top: 108px;
  left: 0px;
  width: 178px;
  height: 46px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_1 {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 179px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_2 {
  position: absolute;
  top: 110px;
  left: 183px;
  width: 176px;
  height: 48px;
  background-color: #999999;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_1 {
  position: absolute;
  top: 74px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 18.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Line_1 {
  position: absolute;
  top: 108px;
  left: 180px;
  width: 180px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Table_1 {
  position: absolute;
  top: 212px;
  left: 14px;
  width: 330px;
  height: 155px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  box-shadow: none;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_1 {
  padding-left: 12px;
  width: 54px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_4 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_7 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_2 {
  padding-left: 12px;
  width: 54px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_5 {
  padding-left: 12px;
  width: 118px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_8 {
  padding-left: 12px;
  width: 118px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_3 {
  padding-left: 12px;
  width: 54px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_6 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_9 {
  padding-left: 12px;
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_10 {
  padding-left: 12px;
  width: 54px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_11 {
  padding-left: 12px;
  width: 118px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_12 {
  padding-left: 12px;
  width: 118px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_2 {
  position: absolute;
  top: 180px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-ActionBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 355px;
  height: 59px;
  background-color: #008040;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-ActionBar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-ActionBar span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-ActionBar span#rtr-s-ActionBar_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Title {
  position: absolute;
  top: 10px;
  left: 99px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Title span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 24.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Title span#rtr-s-Title_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_74 > svg {
  width: 30px;
  height: 30px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_74 {
  position: absolute;
  top: 18px;
  left: 328px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_6 {
  position: absolute;
  top: 579px;
  left: 1px;
  width: 356px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_7 {
  position: absolute;
  top: 580px;
  left: 1px;
  width: 68px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_8 {
  position: absolute;
  top: 580px;
  left: 72px;
  width: 68px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_9 {
  position: absolute;
  top: 580px;
  left: 144px;
  width: 68px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_9 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_10 {
  position: absolute;
  top: 580px;
  left: 216px;
  width: 68px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_10 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_11 {
  position: absolute;
  top: 580px;
  left: 287px;
  width: 68px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_11 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_3 {
  position: absolute;
  top: 587px;
  left: 14px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_4 {
  position: absolute;
  top: 586px;
  left: 156px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_5 {
  position: absolute;
  top: 587px;
  left: 87px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_6 {
  position: absolute;
  top: 587px;
  left: 229px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc #s-Image_7 {
  position: absolute;
  top: 587px;
  left: 300px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a98c3965-16fe-4d1d-b4ba-3fb1ba674cbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}