#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b29c1815-9918-4743-8532-ca0a0d2a2e32 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}