#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Triangle_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Triangle_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bab78381-cf35-4f2f-86c6-742da9880e74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}