#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c6fd083d-fe81-48d4-9661-b9b1d05575da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}