#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-ActionBar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-eab80562-a032-4cf7-a372-22c2129a7d9a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}